<footer class="footer bg-light border-top">
    <div class="container d-flex justify-content-between align-items-center px-2">
        <span class="text-muted">TXT Share is a open source code.</span>
        <div class="d-flex align-items-center gap-2">
            <a href="#" class="btn btn-sm btn-dark" target="_blank">
                <i class="bi bi-github"></i>
                Source Code
            </a>
            <a href="https://www.buymeacoffee.com/allanbarcelos" target="_blank">
                <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                    style="height: 30px !important;width: 123px !important;margin-bottom: 5px;">
            </a>
        </div>

    </div>
</footer>