<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>About TXT Share</strong>
    Version 0.0.1
  </div>
  <div class="card-body">
    <p>Welcome to TXT Share, this a web application that made easy share texts between collaborators.</p>
    <p>The code is opensource and you can download in <a href="https://github.com/allanbarcelos/txt-share"
        target="_blank">Github</a>. Feel free to clone, fork or suggest new features.</p>
    <p>I accept supports for new projects <a href="https://www.buymeacoffee.com/allanbarcelos" target="_blank">
        Buy
        me a coffee
      </a></p>
  </div>
  <div class="card-footer text-muted">
    &nbsp;
  </div>
</div>